/** Nav **/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.navItem {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  color: #6c757d;
  transition: color 0.3s ease;
  text-decoration: none;
}

.activeNavItem {
  color: #ffffff;
}

.activeNavItem p {
  color: #ffffff;
}

/* SVG styling */
.navIcon {
  opacity: 0.5;
  filter: invert(50%) sepia(9%) saturate(463%) hue-rotate(182deg)
    brightness(91%) contrast(92%); /* #6C757D */
  transition: all 0.3s ease;
}

.activeIcon {
  opacity: 1;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%); /* #FFFFFF */
}

.navItem:hover {
  color: #ffffff;
}

.navItem:hover .navIcon {
  opacity: 0.8;
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.sign {
  border: 1px solid #06ac01;
  background-color: #07ac0117;
  border-radius: 10px;
  width: 105px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/* Media queries for responsive layout */
@media (max-width: 992px) {
  .nav {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .nav {
    gap: 1.5rem;
  }

  .navItem {
    gap: 0.5rem;
  }
}

@media (max-width: 576px) {
  .nav {
    width: 100%;
    justify-content: space-around;
    gap: 0.5rem;
  }

  .navItem p {
    font-size: 0.9rem;
  }
}
