.mainContainer {
  height: 100dvh;
  max-width: 95dvw;
  margin: 0 auto;
  padding: 3vh;
  display: flex;
  flex-direction: column;
}

/** Header **/
.navigationBar {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
