.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.homeContainer button {
  background-color: transparent;
  color: #fff;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
