/** Nav **/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  color: #6c757d;
  transition: color 0.3s ease;
}

.activeNavItem {
  color: #ffffff;
}

.activeNavItem p {
  color: #ffffff;
}

.sign {
  border: 1px solid #06ac01;
  background-color: #07ac0117;
  border-radius: 10px;
  width: 105px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
